<header class="header">
    <div class="_1">
        <div class="headerTitles">
            <span class="name">
                <p class="">Vinodhan Blogs</p>
            </span>
            <span class="subName">
                <p>A Personal Blog</p>
            </span>
        </div>
        <section class="nav_section">
            <div class="_navLink1">
                <div><a class="home_link" href="/">HOME</a></div>
                <div><a href="" class="about_link">ABOUT</a></div>
            </div>
            <div class="empty1">
                <div class="newArticle">
                    <a href="/articles/new" type="button">New Article</a>
                </div>
            </div>
            <div class="empty2">
                <form action="" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Search Article.." onfocus="this.placeholder=''"
                            id="search-input" class="form-control">
                        <input type="submit" value="Search" class="bt btn-default">
                    </div>
                </form>

            </div>
            <div class="_navLink2">
                <div class="_navLink2_Sub">
                    <div class="fb_link"><a href="" class="facebookLink">FB</a></div>
                    <div><a href="">Gmail</a></div>
                </div>
            </div>
        </section>
    </div>
</header>