<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog</title>
    </head>

    <body>
        <h1>This is HTML New Article Page</h1>
        <form action="/articles" method="POST">
            <!-- we will be including _form_fields.ejs which contains only the input fields which are common for new & edit page -->
            <%- include('_form_fields')%>
        </form>
    </body>

</html>